body,
div,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
blockquote,
pre,
table,
th,
td,
input,
textarea {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    color: black;
    text-decoration: none;
}

.w {
    width: 1190px;
    margin: auto;
}