.header {
  width: 100%;
  height: 30px;
  background-color: #e3e4e5;
}
.header .w {
  height: 30px;
  align-items: center;
  font-size: 12px;
  color: #908a89;
  display: flex;
  justify-content: space-between;
}
.header .w .location {
  width: 50px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.header .w .location .icon-location {
  color: red;
}
.header .w .location:hover {
  background-color: #fff;
}
.header .w .nav-wrap {
  display: flex;
}
.header .w .nav-wrap .login-text {
  margin-right: 5px;
}
.header .w .nav-wrap .nav ul {
  display: flex;
  align-items: center;
}
.header .w .nav-wrap .nav ul li:nth-child(even) {
  width: 1px;
  height: 12px;
  background-color: #bdb6b4;
  margin: 0 15px;
}
.header .w .nav-wrap .nav ul li:nth-child(odd) {
  cursor: pointer;
}
.header .w .nav-wrap .nav ul li:last-child {
  display: none;
}
.header .w .nav-wrap .nav ul li:first-child {
  color: #f10215;
}
.header .w .nav-wrap .nav ul li:nth-child(9) {
  color: red;
}
input {
  outline: none;
  width: 200px;
  height: 32px;
}
.form {
  width: 400px;
  height: 300px;
  padding: 30px;
  margin: 100px auto;
  border: 1px solid #ccc;
}
.form .input-wrap {
  height: 60px;
}
.form .input-wrap .input-label {
  display: inline-block;
  width: 100px;
}
.form .input-wrap .submit-btn {
  width: 100px;
  height: 32px;
}
.form .input-wrap .tip {
  font-size: 12px;
  color: red;
  margin: 2px 0 0 106px;
  display: none;
}
