.header {
  width: 100%;
  height: 30px;
  /* 灰色 */
  background-color: #e3e4e5;
}
.header .w {
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* 字体颜色 */
  color: #999;
  font-size: 12px;
}
.header .w .location {
  height: 30px;
  width: 58px;
  line-height: 30px;
  text-align: center;
  position: relative;
  border: 1px solid transparent;
  z-index: 5;
}
.header .w .location .icon-location {
  color: red;
}
.header .w .location .location-hover {
  width: 300px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  top: 30px;
  left: 0;
  display: none;
}
.header .w .location .location-hover .city-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.header .w .location .location-hover .city-list li {
  width: 20%;
}
.header .w .location .location-hover .city-list li a {
  padding: 5px;
  color: #908a89;
  text-decoration: none;
}
.header .w .location .location-hover .city-list .active {
  background-color: red;
  color: #fff;
}
.header .w .location .location-hover .divide-line {
  width: 262px;
  height: 0;
  margin: 15px auto;
  border-bottom: 1px dotted #eee;
}
.header .w .location .location-hover .area-self {
  width: 100%;
  padding: 0 18px;
  box-sizing: border-box;
  text-align: left;
}
.header .w .location .location-hover .area-self p {
  margin-bottom: 15px;
}
.header .w .location .location-hover .area-self ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.header .w .location .location-hover .area-self ul li {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header .w .location .location-hover .area-self ul li .icon {
  width: 20px;
  height: 15px;
  display: inline-block;
  background-image: url(../img/redfalg.png);
}
.header .w .location .location-hover .area-self ul li:nth-child(2) .icon {
  background-position: -36px 0;
}
.header .w .location .location-hover .area-self ul li:nth-child(3) .icon {
  background-position: 0 -15px;
}
.header .w .location .location-hover .area-self ul li:nth-child(4) .icon {
  background-position: -72px 0;
}
.header .w .location .location-hover .area-self ul li:nth-child(5) .icon {
  background-position: -72px -15px;
}
.header .w .location .location-hover li a:hover {
  color: red;
}
.header .w .location:hover .location-hover {
  display: block;
}
.header .w .nav-wrap {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
}
.header .w .nav-wrap ul {
  /*  display: inline; */
  display: flex;
  margin-left: 10px;
  /* 小三角画出来的原理：因为那个4*4的小方块的颜色和背景色相同，设置右边和下边边框颜色，让它显示出来，旋转一下就得到了下三角 */
}
.header .w .nav-wrap ul li {
  width: 70px;
  height: 100%;
  line-height: 30px;
  text-align: center;
}
.header .w .nav-wrap ul li:nth-child(even) {
  width: 1px;
  height: 10px;
  /* margin: 11px 5px 0;（上11px；左、右5px；下0px。） */
  background-color: #bdb6b4;
  margin: 11px 8px;
  /*  position: relative; */
}
.header .w .nav-wrap ul li:nth-child(odd) {
  cursor: pointer;
}
.header .w .nav-wrap ul li:first-child {
  color: red;
}
.header .w .nav-wrap ul li:nth-child(9) {
  color: #f10215;
}
.header .w .nav-wrap ul .triangle {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #908a89;
  border-right: 1px solid #908a89;
  transform: rotate(45deg);
  margin: 4px 5px;
}
.search-wrap {
  width: 100%;
}
.search-wrap .w {
  height: 141px;
  position: relative;
}
.search-wrap .w .logoA {
  width: 190px;
  height: 120px;
  position: absolute;
  top: 10px;
}
.search-wrap .w .logoA h1 {
  width: 100%;
  height: 100%;
}
.search-wrap .w .logoA h1 a {
  display: block;
  width: 100%;
  height: 100%;
  /* background-image: url(../image/ia_100000200.png); */
}
.search-wrap .w .search {
  position: absolute;
  left: 260px;
  top: 25px;
  display: flex;
  align-items: center;
  height: 32px;
  border: 2px solid red;
  background: #fff;
}
.search-wrap .w .search .search-input {
  width: 425px;
  height: 26px;
  padding: 2px 44px 2px 17px;
  border: 1px solid transparent;
  line-height: 26px;
  font-size: 12px;
  outline: none;
}
.search-wrap .w .search .search-btn {
  width: 58px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #e1251b;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border: none;
}
.search-wrap .w .hot-words {
  position: absolute;
  left: 260px;
  top: 65px;
  font-size: 12px;
  width: 546px;
  display: flex;
  justify-content: space-between;
}
.search-wrap .w .hot-words li:first-child {
  color: #f10215;
}
.search-wrap .w .secondary-nav {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 203px;
}
.search-wrap .w .secondary-nav li {
  margin-right: 20px;
}
.search-wrap .w .secondary-nav li:nth-child(1) {
  color: #f10215;
  font-weight: 600;
}
.search-wrap .w .secondary-nav li:nth-child(2) {
  color: #f10215;
  font-weight: 600;
}
.search-wrap .w .cart {
  width: 130px;
  height: 36px;
  background-color: #fff;
  text-align: center;
  line-height: 34px;
  border: 1px solid #eee;
  position: absolute;
  right: 210px;
  top: 25px;
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;
}
.search-wrap .w .cart .cart-icon {
  font-weight: 600;
  position: relative;
}
.search-wrap .w .cart .cart-icon::after {
  content: "0";
  display: inline-block;
  width: 18px;
  height: 12px;
  background-color: #e1251b;
  position: absolute;
  right: -10px;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  border-radius: 6px;
}
.search-wrap .w .cart span {
  font-size: 12px;
  margin-left: 10px;
}
.search-wrap .w .qr-code {
  position: absolute;
  top: 10px;
  right: 0;
  width: 76px;
  height: 76px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 5px;
}
.search-wrap .w .qr-code img {
  width: 100%;
  height: 100%;
}
