# 此文件暂时无用
# 步骤1：npm init 一直按回车生成package.json
#       作用：使用npm命令来下载文件，比如我会下载jquery，使用命令npm install jquery
#       下载后会自动出现node_modules文件夹，下载的文件就会在里面（node_modules/jquery/dist/jquery.js文件夹，我们引入就可以使用了）


# 此文件的作用是git用来忽略文件的提交的，一般node_modules文件夹是不提交的，里面的东西是拉代码下来后使用npm install下载的
# /node_modules